body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'LCD';
    font-size: 100px ;
}
.container{
    height: 200px;
    width: 500px;
    background-color: var(--color-primary);
    border-radius: 20px;
    border: 15px solid var(--color-secondary);
    text-align: center;
}

.theme-light {
    --color-primary: #97a7bb;
    --color-secondary: #626292;
    --color-accent: #fd6f53;
    --font-color: #000000;
}
.theme-dark{
    --color-primary: #456868;
    --color-secondary: #1d2122;
    --color-accent: #12cdea;
    --font-color: #ffffff;
}